* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #fcf8e8;
}

.container {
  max-width: 950px;
  width: 950px;
  text-align: center;
}

.progress-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  padding: 0 0.3em;
}

.fas {
  font-size: 1.8rem;
  color: #ecb390;
  transition: 0.3s ease-in;
}

.progress-bar {
  width: 0%;
  height: 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
  background-color: #df7861;
  transition: 0.3s ease-in;
}

.progress-steps {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.progress-steps::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 4px;
  z-index: -1;
  background-color: #ecb390;
}

.progress-step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ecb390;
  border: 4px solid #ecb390;
  background-color: cornsilk;
  transition: 0.3s ease-in;
}

.progress-desc {
  display: flex;
  justify-content: space-between;
  color: #5e7a5e;
}

.btn {
  border: 0;
  padding: 1em 2.4em;
  border-radius: 4px;
  background-color: #5e7a5e;
  cursor: pointer;
  font-family: inherit;
  color: aliceblue;
  margin: 0.6em;
}

.btn:active {
  transform: scale(0.98);
}

.btn:disabled {
  cursor: not-allowed;
}

.active {
  border: 4px solid #df7861;
}

.active-icon {
  color: #df7861;
}
